<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Mybr, initial-scale=1.0">
    <title>Fullstack devlopment</title>
</head>
<body>
    Before
    <br>
    <%- body %>
    <br>
    After
    
</body>
</html>